# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v4.3.0
  hooks:
    - id: conventional-pre-commit
      stages: [commit-msg]
      args: [build, chore, ci, docs, feat, fix, minor, patch, perf, style, refactor, test]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-illegal-windows-names
  # - id: check-yaml
  - id: check-json
    exclude: ^examples/vscode/launch\.json$
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-toml
  - id: mixed-line-ending
    args: ['--fix=no']
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.0  # Ruff version
  hooks:
    - id: ruff-check  # linter
      files: ^(peat|tests)/
      types_or: [ python, pyi ]
    - id: ruff-format  # formatter
      files: ^(peat|tests)/
      types_or: [ python, pyi ]
      args: [ '--check' ]