name: Build

on:
  push:
    branches:  # don't build on tags
  pull_request:
  workflow_dispatch:
  workflow_call:  # from release.yml

permissions:
  contents: read

jobs:
  docs:
    name: Build Documentation (HTML and manpage)
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
            fetch-tags: true
            fetch-depth: 0  # checkout full history
      - name: Install apt dependencies
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: graphviz
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: "3.12"
          cache: true
      - name: Install dependencies
        run: pdm sync -d --clean
      - name: Update dependencies doc pages
        run: pdm run dep-doc
      - name: Build docs (HTML and manpage)
        run: pdm run docs
      - name: Upload HTML docs artifacts
        uses: actions/upload-artifact@v6
        with:
          name: peat_docs
          path: _docs_html/**/*
      - name: Upload manpage artifact
        uses: actions/upload-artifact@v6
        with:
          name: manpage
          path: _docs_man/peat.1

  python-build:
    name: Build Python package
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-tags: true
          fetch-depth: 0  # checkout full history
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: "3.12"
          cache: true
      - name: Install dependencies
        run: pdm sync
      - name: Build Python package
        run: pdm build
      - name: Ensure package files exist
        run: |
          ls -lAhS dist
          ls -lA dist | grep py3-none-any.whl
          ls -lA dist | grep .tar.gz
      - name: List files in wheel
        run: pdm run python -m zipfile --list dist/*.whl
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: python_package
          path: |
            dist/*.whl
            dist/*.tar.gz
          if-no-files-found: error

  linux-build:
    name: Build Linux Executables
    # NOTE: ubuntu-24 needed for python3.12
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-tags: true
          fetch-depth: 0  # checkout full history
      - name: Install apt dependencies
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: python3-dev python3-pip patchelf binutils scons libpq-dev libpq5
      # For some reason setup-pdm action isn't playing nice with PyInstaller,
      # have to manually do the install here
      - name: Install tool dependencies
        run: |
          python3 --version
          python3 -m pip --version
          pip install -U pdm
          pdm config check_update false
          pdm --version
      # NOTE: Pip is needed to manually reinstall psycopg2
      - name: Install Python packages (venv)
        run: |
          pdm sync -G exe
          pdm run python -m ensurepip
      - name: Build executable
        run: pdm run build-linux-exe
      - name: List executable contents
        run: pdm run inspect-exe
      - name: Check executable
        run: |
          ls -lAht dist/
          ./dist/peat --help
          ./dist/peat --version
          ./dist/peat parse --list-modules
          ./dist/peat parse -vVV -d AwesomeTool -I examples/example_peat_module/ -- examples/example_peat_module/awesome_output.json
      - name: Build Sneakypeat executable
        run: pdm run build-linux-sneakypeat
      - name: List Sneakypeat executable contents
        run: pdm run pyi-archive_viewer --list build/sneakypeat-pyinstaller-pre-staticx
      - name: Check Sneakypeat executable
        run: |
          ls -lAht dist/
          ./dist/sneakypeat --help
          ./dist/sneakypeat --scan localhost
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: linux_exe
          path: |
            dist/peat
            dist/sneakypeat
          if-no-files-found: error

  windows-build:
    name: Build Windows Executables
    runs-on: windows-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-tags: true
          fetch-depth: 0  # checkout full history
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: "3.12"
          cache: true
      - name: Install dependencies
        run: pdm sync -G exe
      - name: Update version info metadata for executable
        run: pdm run python .\distribution\update_file_version_info.py
      - name: Build executable
        run: pdm run build-exe
      - name: List executable contents
        run: pdm run pyi-archive_viewer --list dist/peat.exe
      - name: Check executable
        run: |
          ./dist/peat.exe --version
          ./dist/peat.exe --help
          ./dist/peat.exe parse --list-modules
          ./dist/peat.exe parse -vVV -d AwesomeTool -I examples/example_peat_module/ -- examples/example_peat_module/awesome_output.json
      - name: Build Sneakypeat executable
        run: pdm run build-sneakypeat
      - name: Check Sneakypeat executable
        run: |
          ./dist/sneakypeat.exe --version
          ./dist/sneakypeat.exe --help
          ./dist/sneakypeat.exe --scan -v localhost
      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: windows_exe
          path: |
            dist/peat.exe
            dist/sneakypeat.exe
          if-no-files-found: error
