name: Core Tests

on:
  push:
  pull_request:
  workflow_call:  # from release.yml

permissions:
  contents: read

jobs:
  commits:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Conventional Commits
        uses: taskmedia/action-conventional-commits@443b9cf07a7c453dfd92533a7f0d0c67fb4d8140 # v1.1.25
        with:
          types: >
            build|chore|ci|docs|feat|fix|minor|patch|perf|style|refactor|test

  code-quality:
    name: Code Quality Checks
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: "3.12"
          cache: true
      - name: Install dependencies
        run: pdm sync -G lint
      - name: Run Code Quality Checks
        run: |
          pdm run lint
          pdm run check-sdist --inject-junk

  unit-tests:
    name: Unit Tests
    runs-on: ${{ matrix.platform }}
    strategy:
      # OS images: https://github.com/actions/runner-images
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
        platform: ["ubuntu-24.04", "windows-latest", "windows-2022", "macos-latest"]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: true
      - name: Install dependencies
        run: pdm sync -G test
      # NOTE: coverage here is limited since it's not running live tests
      - name: Run Unit Tests
        run: |
          pdm run pytest --basetemp=./pytest_files --run-slow --durations=10 --cov-report term-missing:skip-covered --cov-report html --cov=peat --no-cov-on-fail --xdoctest -n 8 ./tests ./peat
      - name: Upload Test Results
        uses: actions/upload-artifact@v6
        with:
          name: test-results-python${{ matrix.python-version }}-${{ matrix.platform }}
          path: |
            htmlcov/
            pytest_files/
          if-no-files-found: error
